/* common */

body{
    margin: 0;
    font-family: "Osaka",serif;
}

h1,h2{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}

a:hover{
    opacity: 0.5;
    cursor: pointer;
}

.container{
    margin: 0 16px;
}

/* header */

header{
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

header .header-name{
    padding: 8px;
    border: 1px solid #ffffff;
}

header .header-name h1{
    font-size: 12px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-li-1{
    border-left: 1px solid #ffffff;
}

header li{
    padding: 0 8px;
    border-right: 1px solid #ffffff;
}

header li a{
    font-size: 12px;
}

/* hero */

.hero .hero1 img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero .hero2{
    display: none;
    height: 480px;
}

.hero .hero2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* pic */

.pic .container{
    display: flex;
    justify-content: center;
}

.pic img{
    width: 100%;
    max-width: 560px;
}

/* info */

.info{
    margin-bottom: 32px;
}

.info ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info li{
    width: 50%;
    max-width: 540px;
    background: #fffaf4;
    border-bottom: solid 1px rgb(255, 147, 30);
    margin-bottom: 16px;
}

.info h2{
    font-size: 24px;
    padding: 16px 0;
    text-align: center;
}

/* access */

.access .container{
    display: flex;
    justify-content: center;
}

.access a{
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid black;
    margin-bottom: 16px;
    width: 40%;
    max-width: 360px;
}

/* sns */

.sns .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.sns ul{
    display: flex;
    width: 40%;
    max-width: 360px;
    justify-content: space-between;
}

.sns li{
    margin-right: 16px;
}

.sns i{
    font-size: 24px;
}

/* footer */

footer .container{
    display: flex;justify-content: center;
    padding: 8px 0;
}

footer small{
    font-size: 16px;
}



@media(min-width:480px){

    .hero .hero1{
        display: none;
    }

    .hero .hero2{
        display: block;
    }

}